*{
    margin:0;
    padding:0;
    font-family:sans-serif;
}



section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 800px;
}

.slider{
    overflow: hidden;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    width: 100vw;
}

@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 5))}
}

.image-row1{
    animation: scroll 23s linear infinite reverse;
	display: flex;
	width: fit-content;
}
.image-row2{
    animation: scroll 30s linear infinite;
	display: flex;
	width: fit-content;
}
.image-row3{
    animation: scroll 25s linear infinite reverse;
	display: flex;
	width: fit-content;
}
.image-row4{
    animation: scroll 28s linear infinite;
	display: flex;
	width: fit-content;
}

.imgs{
    width: 250px;
    height: 200px;
    background-color: beige;
    margin: 15px;
    border-radius: 10px;
}
.imgs:nth-of-type(5n+0){
    background-color: aquamarine;
    width: 250px;
}
.imgs:nth-of-type(5n+1){
    width: 120px;
    background-color: rgb(205, 205, 248);
}
.imgs:nth-of-type(5n+2){
    width: 200px;
}
.imgs:nth-of-type(5n+3){
    background-color: rgb(245, 179, 236);
    width: 150px;
}
.imgs:nth-of-type(5n+4){
    background-color: rgb(179, 230, 245);
    width: 280px;
}

.hero-content{
    position: absolute;
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.hero-heading{
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.main-heading{
    background-image: url(assets/diamond-sunset.svg);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    z-index: 1;
    --spacing:2rem;
    margin-left:var(--spacing);
    letter-spacing: var(--spacing);
    font-size: 12rem;
    font-family: 'Cinzel Decorative',cursive;
    font-weight: 700;
}

.sub-heading{
    width: fit-content;
    z-index: 1;
    --spacing:1.1rem;
    font-size: 2rem;
    margin-left: var(--spacing);
    letter-spacing: var(--spacing);
}

.tagline {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-size: 4rem;
  }
  .tagline p {
    font-size: 3rem;
    padding: 0.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
  }
  .tagline p span.typed-text {
    font-weight: normal;
    color: #dd7732;
  }
  .tagline p span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
  }
  .tagline p span.cursor.typing {
    animation: none;
  }
  @keyframes blink {
    0%  { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #ccc; }
  }
